<div class="container">
    <div class="row">
        <div class="col">
            <input type="file" id="myFile"/>
            <button class="btn btn-primary" ng-click="uploadFile()">Upload</button>


            <div class="progress">
                <div 
                    class="progress-bar progress-bar-striped" 
                    role="progressbar" 
                    style="width: {{ uploadProgress }}%" 
                    aria-valuenow="{{ uploadProgress }}" 
                    aria-valuemin="0" 
                    aria-valuemax="100"
                ></div>
            </div>
        </div>
    </div>
</div>