<div class="container">
    <div class="row">
        <div class="col">
            <h1>Create Task</h1>
            <form>
                <input class="form-control" type="text" ng-model="task.title" placeholder="Title"/>
                <button ng-click="saveTask()" class="btn btn-success">Save</button>
            </form>
            <div class="alert alert-danger" ng-show="taskErr">{{ taskErr }}</div>
            <h1>Tasks</h1>
            <ul>
                <li ng-repeat="(key,task) in tasks">
                    <button class="btn" ng-click="removeTask(key)">X</button>
                    <h4>{{ task.title }}</h4>
                </li>
            </ul>
        </div>
    </div>
</div>