<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hello {{ user.name }}</h1>
            <img ng-src="{{ user.picture }}" height="200" />
        </div>
    </div>
</div>