<div class="container" ng-init="getUsers()">
    <div class="row">
        <div class="col">
            <h1>Users</h1>
            <ul>
                <li ng-repeat="user in users">
                    <h4>{{ user.name }}</h4>
                </li>
            </ul>
        </div>
    </div>
</div>