<!DOCTYPE html>
<html ng-app="karydakis">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Angular Firebase</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body ng-controller="MainController">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Firebase App</a>
        </nav>

        <input type="color" ng-model="paok"/>
        <br/>
        <br/>
        <input type="range" min="0" max="100" ng-model="min"/> {{ min }}
        <br/>
        <input type="range" min="0" max="100" ng-model="max"/> {{ max }}

        <div ng-repeat="li in list | adult:min:max | softex">
            <person person-data="li" color="paok"></person>
        </div>

        <hr>
        
        <person person-data="list[3]" color="'blue'"></person>

        <hr>
        <hr>
        <hr>

        <person person-data="{name:'Giwrgos Karydakis', age: 30, email:'xxx5@porkhub.com'}" color="'green'"></person>

        <!-- <nikos></nikos> -->

        <!-- Libraries -->
        <script src="js/angular.min.js"></script>

        <!-- Custom Files -->
        <script src="js/app.js"></script>
        <script src="js/controllers/MainController.js"></script>
    </body>
</html>