person{
    border:solid 1px lightgray;
    border-radius:5px;
    margin:10px;
    padding:10px;
    display:inline-block;
    width: 285px;
    float: left;
}
.person h1{
    text-align: center;
    font-size:20px;
}
hr{
    clear:both;
}